#container{
    width:80%;
    margin:auto;
    text-align: center;  
    
}

body {
    background-color: black;
}


h2{
    color: rgb(200, 56,203 );
    text-align: center;
    font-size: 300%
}
h1{
    padding: 3px;
    text-align: center;
    background-color: pink;
    font-size: 300%;
}
#ruleSet1{
    font-size: 150%;
    text-align: center;
}
#ruleSet2{
    font-size: 150%;
    text-align: center;
}
#ruleSet{
    font-size: 150%;
    text-align: center;
}


